<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    {{>navbar}}

    <!-- main-header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 mx-auto main-header-right">
                        <figure>
                            <img src="images/about.jfif" alt="Krushna" class="img-fluid" title="Weather App">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 mx-auto main-header-left">
                        <h1>I am a <span class="text">Full stack developer </span> student and computer engineer </h1>
                        <a href="https://github.com/krushnabarkule" target="_kb"><button> Check My Githup
                                Profile</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
</body>

</html>

